@keyframes shake {
    0% { transform: rotate(0); }
    25% { transform: rotate(5deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0); }
}

.shakeAnimation:hover {
    animation: shake 0.4s ease-in-out;
}